In [104]:
import pandas as pd
import datetime

original_columns = ['<TICKER>', '<PER>', '<DATE>', '<TIME>', '<OPEN>', '<HIGH>', '<LOW>', '<CLOSE>', '<VOL>']
replace_columns = ['ticker', 'per', 'date', 'time', 'open', 'high', 'low', 'close', 'vol']

csv_path = "data/2_1/SPFB.RTS-12.18_180901_181231.csv"

data = pd.read_csv(csv_path, sep=';', names=replace_columns,
                   header=0,
                   parse_dates={'datetime': ['date', 'time']},
                   dayfirst=True)

data.head()

,datetime,ticker,per,open,high,low,close,vol
0,2018-09-03 10:01:00,SPFB.RTS-12.18,1,107900.0,108060.0,107900.0,108030.0,3
1,2018-09-03 10:02:00,SPFB.RTS-12.18,1,107960.0,107960.0,107960.0,107960.0,5
2,2018-09-03 10:04:00,SPFB.RTS-12.18,1,108000.0,108000.0,108000.0,108000.0,8
3,2018-09-03 10:05:00,SPFB.RTS-12.18,1,108000.0,108000.0,108000.0,108000.0,1
4,2018-09-03 10:08:00,SPFB.RTS-12.18,1,108080.0,108080.0,108080.0,108080.0,1

In [105]:
data['day_of_week'] = data['datetime'].dt.day_name()
data.head()

,datetime,ticker,per,open,high,low,close,vol,day_of_week
0,2018-09-03 10:01:00,SPFB.RTS-12.18,1,107900.0,108060.0,107900.0,108030.0,3,Monday
1,2018-09-03 10:02:00,SPFB.RTS-12.18,1,107960.0,107960.0,107960.0,107960.0,5,Monday
2,2018-09-03 10:04:00,SPFB.RTS-12.18,1,108000.0,108000.0,108000.0,108000.0,8,Monday
3,2018-09-03 10:05:00,SPFB.RTS-12.18,1,108000.0,108000.0,108000.0,108000.0,1,Monday
4,2018-09-03 10:08:00,SPFB.RTS-12.18,1,108080.0,108080.0,108080.0,108080.0,1,Monday

In [106]:
data['avg_price'] = data[['open', 'high', 'low', 'close']].mean(axis=1)
data.head()

,datetime,ticker,per,open,high,low,close,vol,day_of_week,avg_price
0,2018-09-03 10:01:00,SPFB.RTS-12.18,1,107900.0,108060.0,107900.0,108030.0,3,Monday,107972.5
1,2018-09-03 10:02:00,SPFB.RTS-12.18,1,107960.0,107960.0,107960.0,107960.0,5,Monday,107960.0
2,2018-09-03 10:04:00,SPFB.RTS-12.18,1,108000.0,108000.0,108000.0,108000.0,8,Monday,108000.0
3,2018-09-03 10:05:00,SPFB.RTS-12.18,1,108000.0,108000.0,108000.0,108000.0,1,Monday,108000.0
4,2018-09-03 10:08:00,SPFB.RTS-12.18,1,108080.0,108080.0,108080.0,108080.0,1,Monday,108080.0

In [107]:
data['total'] = data['avg_price'] * data['vol']
data.head()

,datetime,ticker,per,open,high,low,close,vol,day_of_week,avg_price,total
0,2018-09-03 10:01:00,SPFB.RTS-12.18,1,107900.0,108060.0,107900.0,108030.0,3,Monday,107972.5,323917.5
1,2018-09-03 10:02:00,SPFB.RTS-12.18,1,107960.0,107960.0,107960.0,107960.0,5,Monday,107960.0,539800.0
2,2018-09-03 10:04:00,SPFB.RTS-12.18,1,108000.0,108000.0,108000.0,108000.0,8,Monday,108000.0,864000.0
3,2018-09-03 10:05:00,SPFB.RTS-12.18,1,108000.0,108000.0,108000.0,108000.0,1,Monday,108000.0,108000.0
4,2018-09-03 10:08:00,SPFB.RTS-12.18,1,108080.0,108080.0,108080.0,108080.0,1,Monday,108080.0,108080.0

In [110]:
# 2_1_1:

data[(data['datetime'].dt.date == datetime.date(2018, 11, 29))].total.sum()

71772558882.5

In [ ]:
# 2_1_2