In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import math

In [2]:
csv_path = "data/3_1/data.csv"

df = pd.read_csv(csv_path, sep=';')

df

    ID  DISTANCE  STOP_COUNT  COST
0    1        25          11  23.5
1    2        24          10  24.4
2    3         6          10  28.0
3    4         6           5  28.8
4    5        22          12  26.2
5    6        20          12  25.0
6    7        19           2  19.2
7    8        11          10  17.1
8    9        17           9  28.0
9   10        17           6  18.9
10  11        17           7  22.0
11  12         8           6  15.8
12  13        14          12  18.2
13  14        13           7  17.1
14  15        20          10  16.0
15  16        25           5  15.5
16  17        24          11  27.3
17  18        16          11  18.4
18  19        14           6  20.8
19  20        10           7  30.0

In [3]:
min_dist = df.DISTANCE.min()
min_stop = df.STOP_COUNT.min()
min_cost = df.COST.min()

In [4]:
df['DISTANCE_EXP_NORM'] = df['DISTANCE'].apply(lambda x: 1.0 - math.exp(1.0 - x / min_dist))
df['STOP_COUNT_EXP_NORM'] = df['STOP_COUNT'].apply(lambda x: 1.0 - math.exp(1.0 - x / min_stop))
df['COST_EXP_NORM'] = df['COST'].apply(lambda x: 1.0 - math.exp(1.0 - x / min_cost))
df['SUM'] = df[['DISTANCE_EXP_NORM', 'STOP_COUNT_EXP_NORM', 'COST_EXP_NORM']].sum(axis=1)
df.sort_values('SUM', inplace=True)
df.head(3)

,ID,DISTANCE,STOP_COUNT,COST,DISTANCE_EXP_NORM,STOP_COUNT_EXP_NORM,COST_EXP_NORM,SUM
6,7,19,2,19.2,0.885441,0.000000,0.212356,1.097798
11,12,8,6,15.8,0.283469,0.864665,0.019169,1.167302
3,4,6,5,28.8,0.000000,0.776870,0.576018,1.352888